# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# VS Code
.vscode/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# ChromaDB
chroma_db/

# Streamlit
.streamlit/secrets.toml