# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# VS Code
.vscode/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# ==========================================
# StockLens AI Generated Data
# ==========================================

# Chroma Vector Database
data/vector_db/*
!data/vector_db/.gitkeep

# Parsed Report Cache
data/cache/*
!data/cache/.gitkeep

# Annual Reports
data/reports/*
!data/reports/.gitkeep

# Streamlit
.streamlit/secrets.toml